<ng-container *ngIf="adverts?.length; then advertsExist; else advertsMissing"></ng-container>
<ng-template #advertsExist>
	<div class="container px-0">
		<div class="row g-2">
			<app-advert-tile
				role="button"
				*ngFor="let advert of adverts"
				[advert]="advert"
				routerLink="/advert/{{ advert.id }}"
				class="col-xl-3 col-lg-4 col-md-6 col-sm-6"></app-advert-tile>
		</div>
	</div>
</ng-template>
<ng-template #advertsMissing>
	<app-empty-advert-list></app-empty-advert-list>
</ng-template>