<div *ngIf="advert" class="border border-dark h-100 mb-md-2 mb-4" routerLink="/advert/{{ advert.id }}" role="button">

	<div class="text-center h-50 advert-img">
		<img
			class="mg-fluid border-secondary w-100"
			alt="{{ advert.name }}"
			title="{{ advert.name }}"
			src="data:{{ advert.image.type }};base64,{{ advert.image.image }}"
		/>
	</div>
	<div class="text-left p-2 bg-container position-relative border-top border-dark advert-info h-50 mb-2">
		<span class="h4 pt-2 d-block">
			{{ advert.currency.symbol }} {{ advert.priceEur }}
		</span>

		<div class="d-inline-block overflow-hidden text-break">
			<span class="h6 d-inline-block mb-1" title="{{advert.name}}">
				{{ advert.name }}
			</span>
		</div>

		<span class="d-block">
			<fa-icon [icon]="faLocationArrow"></fa-icon>
			{{ advert.district.name }}, {{ advert.district.postcode }}
		</span>

		<span class="d-block">
			<div *ngIf="advert.fixedPrice; then cenaJeFixnaBlock else cenaNieJeFixnaBlock"></div>
			
			<ng-template #cenaJeFixnaBlock>
				<small class="h6" class="text-success">Cena nie je fixná</small>
			</ng-template>

			<ng-template #cenaNieJeFixnaBlock>
				<small class="h6" class="text-danger"> Cena je fixná</small>
			</ng-template>
		</span>
	</div>
</div>
