<div class="LoginForm border-dark border border-dark">
    <div class="LoginFormHeader p-3 border-bottom border-dark">
        <p class="h2 text-center">Prihlásiť sa ako administrátor</p>
    </div>
    <div *ngIf="!isLogged()">
        <form [formGroup]="loginForm" (submit)="login()" class="form-group p-md-2 m-4 LoginFormSection">

            <div class="FormItem">
                <label class="h4 pt-1 pb-2">
                    Používateľské meno
                </label>
                <input formControlName="username" type="text" class="form-control from-control-sm" placeholder="Zadajte používateľské meno">
                <p class="text-danger ErrorMessage">
                    {{loginForm.controls['username'].errors?.['required'] ? 'Je nutné zadať meno' : ''}}
                </p>
            </div>

            <div class="FormItem">
                <label class="h4 pt-2 pb-2">
                    Heslo
                </label>
                <input formControlName="password" type="password" class="form-control form-control-sm" placeholder="Zadajte heslo">
                <p class="text-danger ErrorMessage">
                    {{loginForm.controls['password'].errors?.['required'] ? 'Je nutné zadať heslo' : ''}}
                </p>
            </div>

            <div class="d-flex justify-content-center align-items-bottom mt-2">
                <button class="btn btn-lg btn-success mt-4 mb-md-1 mb-4" [disabled]="loginForm.invalid" type="submit">
                    Prihlásiť sa
                </button>
            </div>
            <!-- <div class="TODOJoke">
                V rámci Zákona č. 300/2005 (Trestný zákon) § 212 mám plnú právomoc učiniť trest odňatia slobody na 15 rokov a pokutu vo výške 200,000 € v prípade, že zadáte nesprávne prihlasovacie údaje tri krát za sebou. Buďte opatrný :•)
                <br>
                Zostavajúce pokusy: 3
            </div> -->
        </form>
    </div>
    <div *ngIf="isLogged()" class="d-flex justify-content-center flex-column align-items-center">
        <p class="h4 text-danger text-center p-4">Už ste prihlásený ako administrátor!</p>
        <button routerLink="/" class="btn btn-success w-50">Domovská stránka</button>
    </div>
</div>