.LatestSearching {
    background: var(--paletteColorContainer);
    border: 1px solid;
}
.LatestSearching > div {
    padding: 2px 0;
}

.CategoriesGrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5vmin;
}
.ContainerItem {
    margin: 10px;
    padding: 5px;
    text-align: center;
    min-width: 150px;
    min-height: 150px;
    background-color: var(--paletteColorContainerAlt2);
    border: 1px solid;
}
.ContainerItem > fa-icon {
    line-height: 90px;
    display: block;
    font-size: 40px;
}

@media screen and (min-width:1000px) and (max-width:1600px) {
    .CategoriesGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width:0px) and (max-width:1000px) {
    .CategoriesGrid {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
} 