.LatestSearching {
    background: var(--paletteColorContainer);
    border: 1px solid;
}
.LatestSearching > div {
    padding: 2px 0;
}
.LatestSearching span:nth-child(2) {
    text-decoration: underline !important;
    padding-left: 10px;
}