<div class="m-3">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a class="link" routerLink="/">Domov</a>
		</li>
		<li class="breadcrumb-item">
			<a class="link" routerLink="/categories/{{subcategory?.category?.id}}">{{subcategory?.category?.name}}</a>
		</li>
		<li class="breadcrumb-item">
			<a class="link" routerLink="/subcategories/{{subcategory?.id}}">
				<span class="fw-bold">{{subcategory?.name}}</span>
			</a>
		</li>
	</ol>

	<hr>

	<h3>{{subcategory?.name}}</h3>

	<app-subcategory-section-list [subsubcategories]="subsubcategories"></app-subcategory-section-list>

	<div class="d-flex justify-content-between my-3">
		<app-advert-number [advertNumber]="getNumberOfElements()" [levelWord]="levelWord"></app-advert-number>
	
		<app-page-size-form
			[pageSize]="getPageSize()"
			(pageSizeOutput)="changePageSize($event)"
		></app-page-size-form>
	</div>

	<app-subcategory-advert-list [adverts]="adverts"></app-subcategory-advert-list>

	
	<div class="d-flex justify-content-center">
		<ngb-pagination
			[collectionSize]="getTotalElements()"
			[page]="getPageNumber()"
			[pageSize]="getPageSize()"
			(pageChange)="changePage($event)"
		></ngb-pagination>
	</div>
	
</div>