<div class="m-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="link" href="/">Domov</a> 
        </li>
        <li class="breadcrumb-item">
            <a class="link" routerLink="/categories/{{subcategory?.category?.id}}">{{subcategory?.category?.name}}</a> 
        </li>
        <li class="breadcrumb-item">
            <a class="link" routerLink="/subcategories">
                <span class="fw-bold">{{subcategory?.name}}</span>
            </a>
        </li>
    </ol>
</div>
<div class="m-3">
    <h3>{{subcategory?.name}}</h3>
</div>
<app-subcategory-section-list [subsubcategories]="subsubcategories"></app-subcategory-section-list>
<app-subcategory-advert-list [adverts]="adverts"></app-subcategory-advert-list>
