/*? Local Variables */
:root {
    /* TODO: Pridať až na konci, keď si budem istý dizajnom inzerátov */
}


/*? Advert List (grid) */
.AdvertsList {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*? Advert Item (grid-item) */
.AdvertItem {
    width: 95%;
    margin: 10px auto;
    background-color: var(--paletteColorContainer);
    border: .15rem solid;
}
.AdvertItem:hover {
    font-weight: normal;
    border-color: #0a58ca;
    color: initial;
    /* background-color: #FFCC66; */ /* TODO: Navrh: Zmena farby pozadia pri prejdeni kurzorom vez kontajner  */
}
.AdvertItem a:hover { color: #000; }
.AdvertItem > div {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}


/*? Advert Item Info (container)  */
.AdvertInfo {
    width: inherit;
    padding: 5px 15px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}


/*? Advert Item parametre (grid-item children) */
.AdvertImage {
    width: 85%;
    aspect-ratio: 4/3;
    margin: 0 auto;
    vertical-align: middle;
    display: inline;
}
.AdvertName {
    font-size: medium;
    margin: 0;
    padding: 2.5px 0;
}
.AdvertPrice {
    width: 100%;
    /* border-bottom: .15rem solid; */
    display: block;
    font-size: large;
}
.AdvertPriceIsConstant {
    display: inline;
    color: #0a0;
    vertical-align: text-bottom;
}
.AdvertLocation {
    padding: 2.5px 0;
    font-size: medium;
}
.AdvertLocation > fa-icon {
    font-size: small;
}


.AdvertItem > div {
    width: 95%;
    margin: 0 auto;
}



@media screen and (min-width:0px) and (max-width:1000px) {
    .AdvertsList {
        grid-template-columns: repeat(1, 1fr);
    }
    .AdvertItem {
        flex-direction: column;
    }
    .AdvertName {
        font-size: x-large;
    }
    .AdvertInfo {
        width: 90%;
        margin: 0 auto;
    }
    .AdvertInfo p > span {
        display: block;
        padding: 0;
    }
    .AdvertImage {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .AdvertPrice {
        padding: 0;
        font-size: larger;
    }
    .AdvertPriceIsAdjustable {
        font-size: medium;
    }
    .AdvertLocation {
        padding: 5px 0 10px;
        font-size: medium;
    }
}
@media screen and (min-width:700px) and (max-width:1200px) {
    .AdvertsList {
        grid-template-columns: 1fr 1fr;
    }
}