@import url(../../../styles/advert.css);


h3 {
    width: 90%;
    padding: 10px 0 0 2.5%;
}

/* .SearchBox {
    margin: 0 auto;
    width: 95%;
    padding: 10px;
}

.AdvertsList {
    grid-template-columns: repeat(30, 1fr);
}
.AdvertItem > div {
    flex-direction: row;
}
.AdvertInfo {
    width: 80%;
}
.AdvertImage {
    min-width: 250px;
    max-width: 250px;
    aspect-ratio: unset;
    padding-right: 10px;
} */

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .AdvertItem > div {
        flex-direction: column;
    }
    .AdvertImage {
        display: block;
        padding-right: 0;
    }
    .AdvertInfo {
        width: 100%;
    }
}