<div class="m-3">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a class="link" routerLink="/">Domov</a> 
		</li>
		<li class="breadcrumb-item">
			<a class="link" routerLink="/categories/{{category?.id}}">
				<span class="fw-bold">{{category?.name}}</span>
			</a> 
		</li>
	</ol>
	
	<hr>
	
	<h3>{{category?.name}}</h3>

	<app-category-section-list
		[subcategories]="subcategories"
	></app-category-section-list>
		
	<div class="d-flex justify-content-between my-2">
		<app-advert-number [advertNumber]="getNumberOfElements()" [levelWord]="levelWord"></app-advert-number>
	
		<app-page-size-form
			[pageSize]="getPageSize()"
			(pageSizeOutput)="changePageSize($event)"
		></app-page-size-form>
	</div>

	<app-category-advert-list [adverts]="adverts"></app-category-advert-list>

	<div class="d-flex justify-content-center mt-4">
		<ngb-pagination
			[collectionSize]="getTotalElements()"
			[page]="getPageNumber()"
			[pageSize]="getPageSize()"
			(pageChange)="changePage($event)"
		></ngb-pagination>
	</div>

</div>