<div class="m-3">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a class="link" routerLink="/">Domov</a> 
		</li>
		<li class="breadcrumb-item">
			<a class="link" routerLink="/categories/{{category?.id}}">
				<span class="fw-bold">{{category?.name}}</span>
			</a> 
		</li>
	</ol>
	
	<hr>
	
	<h3>{{category?.name}}</h3>

	<app-category-section-list [subcategories]="subcategories"></app-category-section-list>
	
	<app-category-advert-list [adverts]="adverts"></app-category-advert-list>
</div>