<div class="pt-2 pb-2">
    <h5>Podkategórie</h5>
</div>
<div class="bg-container-alt categories-alt-grid" *ngIf="subcategories?.length">
    <div *ngFor="let subcategory of subcategories" class="p-2">
        <a href="/subcategories/{{subcategory.id}}" class="color-light">{{subcategory.name}}</a>
    </div>
</div>
<div class="bg-container-alt d-flex align-items-center justify-content-center p-2" *ngIf="!subcategories?.length">
    <span class="text-warning fw-bold d-block">Nenašli sa žiadne podkategórie!</span>
</div>