<app-navbar></app-navbar>


<div class="RouterContainer container-fluid">
    <div class="row">
        <div class="RouterContainerFix col-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<div class="FooterContainer container-fluid bg-banner border-top border-dark">
    <div class="row w-100">
        <div class="QuickNavFooter col-7 m-2">
            <h4>Rýchla navigácia</h4>
            <button type="button" routerLink="/">Domov</button>
            <button type="button" routerLink="/">O nás</button>
            <button type="button" routerLink="/">Kontakt</button>
        </div>
    </div>
    <div class="row w-100 mt-2">
        <div class="FooterCopyrightText d-block text-center">
            <span>
				2023 &copy; dvestodola
			</span>
            <span>
				Fakulta prírodných vied - Univerzita Mateja Bela v Banskej Bystrici 
			</span>
        </div>
    </div>
</div>