<div class="HeaderContainer container-fluid">
	<div class="row">
		<div class="HeaderPageLogo">
		</div>
	</div>
</div>

<!-- <div class="HeaderContainer">
	<div class="container-fluid pa-0">
		<div class="row">
			<div class="HeaderPageLogo">
				<img src="/assets/images/random-logo.png" alt="Page Logo">
			</div>
			Search form 
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn bg-info my-2 my-sm-0" type="submit">
					<fa-icon [icon]="iconSearch" class="form-control-sm"></fa-icon>
				</button>
				<fa-icon [icon]="iconSearch" class="form-control-sm"></fa-icon>
			</form>

		</div>
	</div>
</div> -->
<div class="RouterContainer container-fluid">
	<div class="row">
		<div class="RouterContainerFix col-8">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<div class="FooterContainer container-fluid">
	<div class="row">

	</div>
	<div class="row">

	</div>
</div>