<div class="m-4 contanier-md">
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a class="link-success" routerLink="/">
					Kategórie
				</a>
			</li>
			<!-- <li class="breadcrumb-item">
					<a class="link-success" routerLink="/categories">Počítače, notebooky</a>
				</li> -->
			<li class="breadcrumb-item" *ngIf="advert?.category">
				<a class="link-success" routerLink="/categories/{{advert?.category?.id}}">
					{{advert?.category?.name}}
				</a>
			</li>
			<!-- <li class="breadcrumb-item">
					<a class="link-success" routerLink="/subcategories">Komponenty</a>
				</li> -->
			<li class="breadcrumb-item" *ngIf="advert?.subcategory">
				<a class="link-success" routerLink="/subcategories/{{advert?.subcategory?.id}}">
					{{advert?.subcategory?.name}}
				</a>
			</li>
			<!-- <li class="breadcrumb-item">
					<a class="link-success" routerLink="/subsubcategories">Pamäť RAM</a>
				</li> -->
			<li class="breadcrumb-item" *ngIf="advert?.subsubcategory">
				<a class="link-success" routerLink="/subsubcategories/{{advert?.subsubcategory?.id}}">
					{{advert?.subsubcategory?.name}}
				</a>
			</li>
		</ol>
	</nav>

	<hr>

	<!-- name -->
	<h1 class="h1 mt-1">
		{{advert?.name}}
	</h1>

	<!-- district ?dont need it-->
	<!-- region -->
	<p class="h4">
		{{advert?.district?.name}}, {{advert?.district?.postcode}} - {{advert?.district?.region?.name}} kraj
	</p>
	<p *ngIf="1 < 0">
		TODO: Pridať klikateľný odkaz na google mapy
		<a href="https://maps.google.com?q={{advert?.district?.name}}" target="_blank"></a>
	</p>

	<!-- price -->
	<!-- currency -->
	<div>
		<span class="h4">
			Cena: {{advert?.priceEur}} {{advert?.currency?.symbol}}
		</span>

		<div *ngIf="advert?.fixedPrice; then cenaJeFixnaBlock else cenaNieJeFixnaBlock"></div>

		<ng-template #cenaJeFixnaBlock>
			<small *ngIf="advert?.fixedPrice" class="text-success h6">Cena nie je fixná</small>
		</ng-template>

		<ng-template #cenaNieJeFixnaBlock>
			<small *ngIf="!advert?.fixedPrice" class="text-danger h6">Cena je fixná</small>
		</ng-template>
	</div>

	<!-- <br> -->

	<!-- image -->
	<div class="row justify-content-between">
		<div class="col-md-7 my-2">
			<img class="mg-fluid border-secondary w-100" width="100" alt="{{advert?.name}}"
				src="data:{{advert?.image?.type}};base64,{{advert?.image?.image}}">
		</div>
		<div class="col-md-5 float-end">
			<p class="description">
				<span class="h4 d-block">
					Opis:
				</span>
				{{advert?.description}}
			</p>

			<hr>

			<!-- contact -->
			<div class="text-truncate">
				<span class="h4 d-block">
					Kontakt:
				</span>
				<a *ngIf="advert?.contact?.email" class="h5 d-inline-block text-success"
					href="mailto:{{advert?.contact?.email}}?subject=Bazarik - {{advert?.name}}">
					E-mail: {{advert?.contact?.email}}
				</a>
				<a *ngIf="advert?.contact?.phoneNumber" class="h5 d-block text-success text-truncate"
					href="sms:{{advert?.contact?.phoneNumber?.replaceAll(' ', '')}}">
					Telefónne číslo: {{advert?.contact?.phoneNumber}}
				</a>
			</div>
		</div>
	</div>
	<!-- </div> -->

	<!-- TODO: Spraviť edit button -->
	<!-- TODO: Spraviť edit button -->
	<!-- <button (click)="sendData()">Upraviť inzerát</button> -->

	<!-- keywords -->

</div>