.breadcrumb > .breadcrumb-item > a {
	font-size: larger;
}

.description {
	font-size: larger;
}

a {
	/* cursor: pointer; */
}

.hideOverflow {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:100%;
	display:block;
}