<form [formGroup]="advertForm" ng-attr-title="Nový inzerát" class="mx-auto px-4 mx-lg-5">
    <h1 class="display-4 underline mt-3">Pridať inzerát</h1>
    <!-- name -->
    <div class="form-group">
        <label class="h3">Názov</label>
        <input formControlName="name" class="form-control form-control-lg" name="Názov inzerátu"
			type="text" placeholder="Zadajte názov inzerátu" (input)="countChars()">
		<span>{{this.nameCharacterCount}}/{{this.maximumNameCharacterCount}}</span>


        <h5 *ngIf="advertForm.controls['name'].errors?.['required']" class="text-danger">
			Je nutné zadať názov inzerátu
		</h5>
		<h5 *ngIf="advertForm.controls['name'].errors?.['maxlength']" class="text-danger">
			Názov inzerátu musí mať maximálne {{this.maximumNameCharacterCount}} znakov.
		</h5>
    </div>


    <!-- description -->
    <div class="form-group">
        <label class="h3">Opis</label>
        <textarea formControlName="description" class="form-control form-control-lg" rows="8"
			placeholder="Zadajte opis inzerátu" (input)="countChars()">
		</textarea>
		<span>{{this.descriptionCharacterCount}}/{{this.maximumDescriptionCharacterCount}}</span>
		<h5 *ngIf="advertForm.controls['description'].errors?.['maxlength']" class="text-danger">
			Opis musí obsahovať maximálne 1024 znakov.
		</h5>
    </div>


    <!-- price -->
    <!-- currency: disabled on EURO € -->
    <div class="form-group">
        <label class="h3">
			Cena
		</label>
        <div class="input-group mb-2">
            <div class="currency input-group-prepend">
				<input formControlName="currency" class="d-none" [value]="this.currencies?.at(0)?.id">
				<div class="form-control form-control-lg bg-secondary text-light rounded-left">
					{{ '€' }}
				</div>
            </div>
            <input formControlName="priceEur" type="number" class="form-control form-control-lg"
				placeholder="Cena pre inzerát">
		</div>
		<h5 *ngIf="advertForm.controls['priceEur'].invalid" class="text-danger">
			Je nutné zadať cenu inzerátu.
		</h5>
        <!-- </div> -->

        <!-- fixedPrice -->
        <small class="text-muted h6">Je možné vyjednať cenu od pôvodnej ceny?</small>
        <div class="form-check">
            <label class="form-check-label">
				<input formControlName="fixedPrice" class="form-check-input" type="radio"
					name="fixedPrice" [value]=true checked>
				Áno
			</label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
				<input formControlName="fixedPrice" class="form-check-input" type="radio"
					name="fixedPrice" [value]=false>
				Nie
			</label>
        </div>
		<h5 *ngIf="advertForm.controls['fixedPrice'].invalid" class="text-danger">
			Je nutné vybrať, či je cena inzerátu fixná.
		</h5>
    </div>


    <div class="group">
        <!-- category -->
        <div class="form-group">
            <label class="h3">Kategória</label>
            <select formControlName="category" class="form-control form-control-lg" (change)="loadSubcategories()">
				<option disabled selected [value]="null">Vyberte kategóriu inzerátu</option>
				<option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
			</select>
			<h5 *ngIf="advertForm.controls['category'].invalid" class="text-danger">
				Je nutné vybrať kategóriu inzerátu.
			</h5>
        </div>

        <!-- subcategory, cez ngif -->
        <div class="form-group" *ngIf="advertForm.controls['category'].value">
            <label class="h3">Podkategória</label>
            <select formControlName="subcategory" class="form-control form-control-lg" (change)="loadSubsubcategories()" (click)="loadSubcategories();">
				<option disabled selected [value]="null">Vyberte podkategóriu inzerátu</option>
				<option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{ subcategory.name }}
				</option>
			</select>
        </div>

        <!-- subsubcategory, cez ngif -->
        <div class="form-group" *ngIf="advertForm.controls['subcategory'].value">
            <label class="h3">Podpodkategória</label>
            <select formControlName="subsubcategory" class="form-control form-control-lg">
				<option disabled selected [value]="null">Vyberte podpodkategóriu inzerátu</option>
				<option *ngFor="let subsubcategory of subsubcategories" [value]="subsubcategory.id">{{
					subsubcategory.name }}
				</option>
			</select>
        </div>
    </div>


    <!-- location of advert -->
    <div class="group">
        <!-- region -->
        <div class="form-group">
            <label class="h3">Kraj</label>
            <select formControlName="region" class="form-control form-control-lg" (change)="loadDistricts()">
				<option disabled selected [value]="null">Vyberte kraj</option>
				<option *ngFor="let region of regions" [value]="region.id">{{ region.name }}</option>
			</select>
			<h5 *ngIf="advertForm.controls['region'].invalid" class="text-danger">
				Je nutné vybrať kraj.
			</h5>
        </div>

        <!-- district -->
        <div class="form-group" *ngIf="advertForm.controls['region']">
            <label class="h3">
                Okres
                <!-- <small class="text-muted h6">Kliknite sem, pre návrh chýbajúceho okresu.</small> -->
            </label>
            <select formControlName="district" class="form-control form-control-lg" (change)="loadCities()">
				<option disabled selected [value]="null">Vyberte okres</option>
				<option *ngFor="let district of districts" [value]="district.id">{{ district.name + ", " +
					district.postcode }}
				</option>
			</select>
			<h5 *ngIf="advertForm.controls['district'].invalid" class="text-danger">
				Je nutné vybrať okres.
			</h5>
        </div>
    </div>


    <!-- keywords -->

    <!-- image upload -->
    <div class="form-group">
        <p class="h3">
            Obrázok pre inzerát
            <!-- <small class="text-muted h6">Fixná cena znamená, či je možné cenu vyjednať od pôvodnej ceny.</small> -->
        </p>
        <input formControlName="image" id="file" type="file" accept="image/*" class="form-control-file form-control-lg" (change)="checkFileSize()">
		<!-- Veľkosť súboru -->
		<span class="d-block">Veľkosť obrázku: {{this.fileSizeMB}}MB / {{this.maximumFileSizeMB}}MB</span>
		
		<h5 *ngIf="advertForm.controls['image'].errors?.['maximumFileSize']" class="text-danger">
			Obrázok nemôže byť väčší ako 10MB.
		</h5>
    </div>


    <!-- contact -->
    <!-- e-mail -->
    <div class="form-group">
        <p class="h3">E-mailová adresa</p>
        <input formControlName="contactEmail" type="email" class="form-control form-control-lg" placeholder="Zadajte svoj e-mail pre overene pridania inzerátu.">
        <small class="form-text text-muted">Na túto e-mailovú adresu Vám bude zaslaný kód na overenie.</small>
		<h5 *ngIf="advertForm.controls['contactEmail'].invalid" class="text-danger">
			Je nutné zadať e-mailovú adresu.
		</h5>
    </div>
    <!-- phone number -->

	<h5 *ngIf="advertForm.invalid" class="text-danger">
		Je nutné vyplniť celý formulár pre úspešné pridanie inzerátu.
	</h5>
    <div class="d-flex justify-content-between mt-3">
		<button class="btn btn-lg btn-primary" (click)="addAdvertDialog.showModal()" [disabled]="advertForm.invalid">Pridať inzerát</button>
        <input class="btn btn-danger" type="button" value="Vrátiť sa na domovskú stránku" (click)="leaveDialog()">
    </div>

	<dialog #addAdvertDialog>
		<div class="header display-5 text-center">
			Overenie inzerátu
		</div>
		<div class="content">
			<app-security-form
				[advert]="this.prepareAdvert()"
				[action]="this.action"
				(formCancel)="addAdvertDialog.close()"
				(clearForm)="this.clearLocalStorage()"
			></app-security-form>
		</div>
	</dialog>

</form>