@import url(../../styles/advert.css);

/* TODO: Zistiť, prečo .CategoriesGrid sa totálne zdeformujú keď je nastavená šírka na viacej ako 92% pri 1920x1080 rozlíšení */
.CategoriesGrid {
    width: 90%;
    margin: 10px auto;
    background-color: var(--paletteColorContainerAlt);
    border: .15rem solid;
}
.CategoriesGridInformation {
    display: block;
    width: 100%;
}
.CategoryPath ol * {
    color: #000 !important;
}
h3 {
    width: 90%;
    padding: 5px 5% 0 5%;
}