<div class="border border-dark m-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="link" href="/">Domov</a> 
        </li>
        <li class="breadcrumb-item">
            <a class="link" routerLink="/categories">Kategória n</a> 
        </li>
        <li class="breadcrumb-item">
            <a class="link" routerLink="/subcategories">Podkategória n
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="link" routerLink="/subsubcategories">
                <span class="fw-bold">Podpodkategória n</span>
            </a>
        </li>
    </ol>
</div>

<div class="border border-dark m-3 pt-2 pb-2">
    <h3>Podpodkategória n</h3>
</div>
<div class="border border-dark bg-container-alt p-2 m-3">
    <span class="CategoriesGridInformation text-info d-block text-center">Už neexistujú žiadne ďalšie podkategórie na zobrazenie.</span>
</div>

<app-subsubcategory-advert-list></app-subsubcategory-advert-list>