<form [formGroup]="securityForm" (submit)="saveAdvert()" class="">
	<label class="h5">
		Zadajte overovací kód zaslaný na e-mail:
	</label>
		<input class="input w-100" formControlName="code" type="number">
		
		<div class="d-flex justify-content-between mt-3">
			<input class="btn btn-primary" type="submit" value="Odoslať" [disabled]="securityForm.invalid">
			<button class="btn btn-primary" type="button" (click)="this.createHash()" value="Znovu odoslať overovací kód na e-mail">
				Znovu odoslať overovací kód na e-mail
			</button>
			<input class="btn btn-danger" type="button" (click)="formCancel.emit()" value="Zrušiť">
		</div>

	<small class="d-flex justify-content-between mt-3">
	</small>
</form>