<div class="m-3 h-50 d-flex flex-column justify-content-center align-items-center">
    <fa-icon [icon]="faExclamationTriangle" class="display-1 text-danger"></fa-icon>
    <p class="p-4 fw-bold">Nenašli sa žiadne inzeráty!</p>
    <button class="btn btn-success" routerLink="/advert/new">
        <fa-icon [icon]="faPlus"></fa-icon>
        Pridajte nový inzerát
    </button>
    <button class="btn btn-success m-2" routerLink="">
        <fa-icon [icon]="faHome"></fa-icon>
        Späť na hl. stránku
    </button>
</div>