/*? Premenné */
:root {

    /* Farby pozadia */
    --paletteColorBackgroundPage: #CCCCCC; /* Pozadie pre body */
    --paletteColorBanner:#FFCC66; /* Napr. na header, footer, ... */
    --paletteColorContainer: #FFCC99; /* Napr. ako pozadie inzeratu v liste */
    --paletteColorContainerAlt: #666666; /* Napr. ako druhotne pozadie stranky, pozadie podkategorii, etc. */
    --paletteColorContainerAlt2: #CC6B5C; /* Napr. ako druhotne pozadie stranky, pozadie podkategorii, etc. */

    /* Farby textu */
    --paletteTColorPrimary: #000000;
    --paletteTColorSecondary: #000000;
    --paletteTColorAlternative: #000000;
    --paletteTColorLink: #000000;

    /* Farby oramovania */
    --paletteBorderColorPrimary: #000000; /* Header, Footer, Specialne elementy */
    --paletteBorderColorSecondary: #1B3280; /* Pozadie kontajnerov inzeratov v liste, border color pre tlacidla, alebo ine sekundarne elementy */

}


/*? Scrollbar */
::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track {
    border-radius: 25px;
    border: .05rem solid;
    background: var(--paletteColorBackgroundPage);
}
::-webkit-scrollbar-thumb {
    background: var(--paletteColorContainerAlt);
    border-left: .05rem solid;
    width:calc(15px - 0.05rem);
    border-radius: 15px;
    transition: background .2s linear;
}
::-webkit-scrollbar-thumb:hover {
    background: #333;
}


/*? Nastavenia pre všetky značky / hlavné značky */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    background-color: var(--paletteColorContainerAlt);
}
a {
    text-decoration: none;
    color: #000000;
    transition: color .1s linear, font-weight .1s linear;
}
h1 {
    font-size: x-large;
}


/*? Nastavenie podporných tried pre Bootstrap */
.bg-banner {
    background-color: var(--paletteColorBanner);
}
.bg-container {
    background-color: var(--paletteColorContainer);
}
.bg-container-alt {
    background-color: var(--paletteColorContainerAlt);
}
.bg-container-alt-2 {
    background-color: var(--paletteColorContainerAlt2);
}
.text-true-right {
    text-align: right;
}
.text-true-right fa-icon {
    padding-right: 10px;
}
.breadcrumbs a:hover {
    color: var(--paletteBorderColorSecondary) !important;
}
.categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vmin;
}
.categories-alt-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vmin;
    text-align: center;
}
.advert-image {
    /* width: 24vmin; */
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
}
div:has(.advert-image) {
    min-height: 300px;
}
.color-light {
    color: #CCCCCC;
}
.color-light:hover {
    color: #000000;
}
.adverts-grid {
    display: grid;
    gap: 2vmin;
    grid-template-columns: repeat(4, 1fr);
}
.adverts-grid span {
    font-size: small;
}
.adverts-grid *:hover {
    color: #000000;
}
.adverts-grid a:hover {
    background-color: #fbb671;
}

/*? Nastavenie pre RouterContainer */
.RouterContainer {
    width: 100%;
}
.RouterContainerFix {
    min-height: 90vh;
    margin: 0 auto;
    
    border-left: .15rem solid;
    border-right: .15rem solid;
    background-color: var(--paletteColorBackgroundPage);
    box-shadow: 2rem 0 2.5rem -2rem #000000,
                -2rem 0 2.5rem -2rem #000000;
}


/*? Nastavenie pre pätu stránky */
.FooterContainer {
    padding: 5vh;
    min-height: 10vh;
    width: 100%;
    box-shadow: 0 0 2.5rem var(--paletteBorderColorPrimary);
}
.QuickNavFooter button {
    display: block;
    padding: 5px 0;
    border: none;
    background: none;
    transition: color .1s linear, font-weight .1s linear;
}
.QuickNavFooter button:hover {
    color: #1B3280;
    font-weight: bold;
}
.FooterCopyrightText > span {
    font-family: monospace;
    display: block;
}

/* TODO: Optimalizovat! */
@media screen and (min-width:651px) and (max-width:850px) {
    .categories-grid, .categories-alt-grid, .adverts-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 0px) and (max-width: 1105px) {
    .adverts-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1105px) and (max-width:1450px) {
    .adverts-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width:0px) and (max-width:700px) {
    .categories-grid, .categories-alt-grid, .adverts-grid {
        grid-template-columns: repeat(2, 1fr);
    }
} 

@media screen and (min-width:0px) and (max-width:940px) {
    h1 { display: none; }
    
    .text-true-right > button > span { display: none; }
    .text-true-right fa-icon { padding: 0; }
    
    .RouterContainerFix { width: 100% !important; }
    .QuickNavBox > button::after { display: none; }
}