<div class="m-3">
	<div class="pt-2 pb-2">
		<h1 class="display-4">Výsledky vyhľadávania</h1>
	</div>
	
	<hr>

	<small *ngIf="adverts?.content?.length! == 1" class="h5">Našiel sa {{ adverts?.content?.length }} inzerát.</small>
	<small *ngIf="(adverts?.content?.length! > 1) && (adverts?.content?.length! < 5)" class="h5">Našli sa {{ adverts?.content?.length }} inzeráty.</small>
	<small *ngIf="(adverts?.content?.length! >= 5 || adverts?.content?.length! <= 0)" class="h5">Bolo nájdených {{ adverts?.content?.length }} inzerátov.</small>
	
	<div class="d-flex justify-content-between my-2">
		<app-page-size-form
			[pageSize]="getPageSize()"
			(pageSizeOutput)="changePageSize($event)"
		></app-page-size-form>
	</div>

	<app-category-advert-list [adverts]="adverts"></app-category-advert-list>

	<div class="d-flex justify-content-center mt-4">
		<ngb-pagination
			[collectionSize]="getTotalElements()"
			[page]="getPageNumber()"
			[pageSize]="getPageSize()"
			(pageChange)="changePage($event)"
		></ngb-pagination>
	</div>

</div>